@{
    ViewData["Title"] = "Contact information";
}
<div class="container-xl">
    <h1>@ViewData["Title"]</h1>
    <hr/>
    <h3>MovieMakers Bioscoop</h3>
    <h5>Chasseveld 15<br/>
        4811 DH, Breda</h5>

</div>
<div class="container">
<div id="Container" class="resp-container"
     style="padding-bottom:56.25%; display:block;width: 100%">
    <iframe class="resp-iframe" id="ViostreamIframe"
            width="100%" height="100%"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9915.284502795394!2d4.781012956819492!3d51.589841630707376!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c69f7f704bcddd%3A0x39798afaa1dc4718!2sPath%C3%A9%20Breda!5e0!3m2!1sen!2snl!4v1583962646026!5m2!1sen!2snl" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"
            frameborder="0" allowfullscreen="true"
            style="position:absolute; top:0; left:0"></iframe>
</div>
</div>