@model Row

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "Create Row";
}
<div class="container">
<form method="post">
    <div class="row p-3 border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if (Model.Id!=0)
        {
            //edit
            title = "Edit Row";
        }
        <div class="col-12 border-bottom">
            <h2 class="text-primary">@title</h2>
        </div>
        <div class="col-8 pt-4">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Hall"></label>
                </div>
                <div class="col-8">
                    <input asp-for="HallId" class="form-control" readonly />
                    <span asp-validation-for="HallId" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Number"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Number" class="form-control" readonly />
                    <span asp-validation-for="Number" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="NumberOfSeats"></label>
                </div>
                <div class="col-8">
                    <input asp-for="NumberOfSeats" class="form-control" />
                    <span asp-validation-for="NumberOfSeats" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-8 offset-4">
                    @if (Model.Id != 0)
                    {
                        <partial name="_EditAndBackToListButton" model="Model.Id" />
                    }
                    else
                    {
                        <partial name="_CreateAndBackToListButton" />
                    }
                </div>
            </div>
        </div>
    </div>
</form>
</div>
@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
}
